// 1. Sobrescribe variables de Bootstrap
$font-family-sans-serif: 'Open Sans', sans-serif;

// 2. Importa Bootstrap (usa las variables que definiste arriba)
@import "bootstrap";

// 3. Tus configuraciones adicionales
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// 4. Librerías externas
@import "font-awesome";

// 5. Tus parciales
@import "components/index";
@import "pages/index";

// 6. Overrides finales (si necesitas forzar algo)
body {
  font-family: $font-family-sans-serif;
  background-color: #f5f3f4;
}